.categories-form {
  display: flex;
  justify-content: center;

  .box-form {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .box-options {
    width: 70%;
    padding: 10px;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    align-items: flex-start;
    
    border-radius: 10px;
    -webkit-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.38); 
    box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.38);;
    -moz-box-shadow: 0px -1px 16px 0px rgba(0, 0, 0, 0.32);
    form {
      padding-top: 10px;
      padding-bottom: 5%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      button{
        border: none;
        padding:5%;
        border-radius: 10px;
        margin: 10px auto 0 auto;
      }
    }
    form:nth-child(2) {
      select {
        margin-bottom: 15px;
      }
    }
  }

  .label-category {
    font-size: 25px;
    margin-top: 0;
    font-weight: 600;
    color: var(--color-brand)
  }

  .select-category {
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 25px;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
  }
  .input-category {
    width: 90%;
    height: 30px;
    margin-top: 24px;
    padding: 0px 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-black);
    line-height: 40px;
    text-align: center;
    border-bottom: 2px #378a19 solid;
    opacity: 1;
    cursor: text;
    &:focus{
      border-bottom: 3px #378a19 solid;
      outline: none;
    }
  }
}

.buttons-put {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; 
}
