.preferencePanel {
  margin-top: 2vh;
  .preferenceTabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: var(--color-black);
    font-weight: 500;
    margin: 2em 10% 3em 13%;
    border-bottom: 2px solid var(--color-brand-75);
    width: 75%;

    * {
      padding: 1em;
      background-color: white;
      // border: 2px solid var(--color-brand-75);
      border-bottom: 0px;
      border-left: 0px;
      border-radius: 5px 5px 0 0;
      box-shadow: 1px 1px 4px gray;
      cursor: pointer;
      &:hover {
        // border: 2px solid var(--color-brand-light-75);
        // border-bottom: 0px;
        // border-left: 0px;
        color: var(--color-brand-75);
      }
    }
  }
}
