.containerProdFormUpdate {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
  border-radius: 70px;
  width: 70%;
  margin: 0 auto;
  margin-top: 8%;

  .textareaDescription {
    background-color: transparent;
    border: solid 1px #bdbdbd;
    border-radius: 4px;
    height: 60px;
    margin-top: 15px;
    padding: 15px;
    width: 87%;
    font-size: 15px;
  }
  .textareaDescription:hover {
    border: solid 1px black;
  }
  .textareaDescription:focus {
    border: solid 2px #4caf50;
  }
  .cont-1 {
    border-radius: 10px;
    .labelCategory{
      margin-bottom: 15px;
    }
    textarea{
      font-family: var(--font-main);
    }
    .categoriesUpdate{
      padding: 5px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      font-size: 18px;
      .deleteButton{
        position: relative;
      }
    }
    select{
      height: 2%;
      width: 30%;
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
}
