.orderCard {
  background: white;
  height: fit-content;
  width: 420px;
  padding: 0 1.5rem 0 0.75rem;
  margin: 1rem 1.5rem 1rem 1.5rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

  .cardElements {
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cardPicture {
      margin: 1%;      
      img {
        // margin-left: 1%;
        max-width: 180px;
        max-height: 150px;
        min-width: 180px;
        min-height: 150px;
      }
    }
    .cardContent{
      margin-right: 1%;
      max-width: 200px;
    }
  }
}
