.backButton {
  margin-left: 3rem;
  color: var(--color-brand);
  font-family: var(--font-fam);
  font-weight: 700;
  font-size: 40px;
  cursor: pointer;
  position: absolute;
}

.adminPanel {
  margin-top: 2rem;
  #buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    
    * {
      border-radius: 10px;
      cursor: pointer;
      height: 200px;
      display: flex;
      flex-direction: column;
      margin: 20px;
      background-color: white;
      -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
      border: none;
      justify-content: center;
      align-items: center;
      align-content: center; 
    }

    p{
      margin:12px 0 0 0;
      font-size: 20px;
      font-weight: 700;
    }
    svg{
      font-size: 80px;
      margin: 0 auto;
      color: var(--color-brand)
    }
    path {
      stroke: var(--color-brand)
    }
    button > p, button > svg {
      background-color: transparent;
      outline: none;
      border: none;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow:none;
      height: fit-content;
    }
    
    #products {
      grid-area: 1 / 1 / 1 / 1;    
    }
    #orders {
      grid-area: 1 / 2 / 1 / 2;
    }
    #orders {
      grid-area: 1 / 3 / 1 / 3;
    }
    #users {
      grid-area: 1 / 4 / 1 / 4;
    }
  }
}
