.backButton {
  margin-left: 3rem;
  color: var(--color-brand);
  font-family: var(--font-fam);
  font-weight: 700;
  font-size: 40px;
  cursor: pointer;
}

.adminPanel {
  #buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    border: none;
    
    * {
      border-radius: 10px;
      height: 200px;
      margin: 20px;
      background-color: white;
      -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
      border: none;
    }

    #products {
      grid-area: 1 / 1 / 1 / 1;
    }
    #orders {
      grid-area: 1 / 2 / 1 / 2;
    }
    #orders {
      grid-area: 2 / 1 / 2 / 1;
    }
    #users {
      grid-area: 2 / 2 / 2 / 2;
    }
  }
}
